PORT = 3000
PAGE = 1
PAGE_SIZE = 10

# TBS Console Credentials (Get from TBS Console Site)
TBS_API_CONSOLE_CLIENT_ID = YOUR_CLIENT_ID_HERE
TBS_API_CONSOLE_USER_TOKEN = YOUR_USER_TOKEN_HERE
TBS_API_CONSOLE_CLIENT_SECRET_KEY = YOUR_CLIENT_SECRET_KEY_HERE

# AWS Credentials (Get from AWS Console)
AWS_ACCESS_KEY_ID = YOUR_AWS_ACCESS_KEY_ID_HERE
AWS_SECRET_KEY_ID = YOUR_AWS_SECRET_KEY_ID_HERE
BUCKET_NAME = YOUR_BUCKET_NAME_HERE
AWS_ENCRYPTION_KEY = YOUR_AWS_ENCRYPTION_KEY_HERE

# API URLs - Test Environment
TBS_PUBLIC_API_OAUTH = https://testoauth.expressauth.net/v2/tbsauth
TBS_PUBLIC_API_BASE_URL = https://testapi.taxbandits.com/V1.7.3/