html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


/* .header{
    width:100%;
    text-align:center;
}

.header img   {
    display:inline-block;
    margin: 0 auto;
}

.layout-container {
    display: grid;
    grid-template-columns: auto 550px;
    grid-column-gap: 20px;
}

.response-table{
    margin: 50px;
}

.aside {
    margin-top: 10px;
    height: 500px;
    background-color: aliceblue;
}

.taC {
 width: 236PX;
}

.btn.btn_primary, .btn_primary, .btn_primary:hover, .btn_primary:focus {
    background: #fb7310;
    padding: 5px 12px 7px 12px;
    height: auto !important;
    color: #fff !important;
    text-align: left;
    cursor: pointer !important;
    font: 600 15px 'Open Sans', sans-serif;
    border-radius: 4px;
    border: 1px solid #da6610;
    text-decoration: none;
}

.responsive .labelName {
    text-align: right;
    padding-right: 5px;
    padding-top: 8px;
    vertical-align: top;
    color: #333;
    font-weight: 600;
}

    .responsive .labelName label {
        color: #333;
        font-weight: 600;
        margin: 0;
    }

.responsive .fieldName {
    width: 300px;
    position: relative;
}

.spacer10 {
    height: 10px;
}

.note{
    display: inline-block;
    width: 50px;
    font-size: 15px;
    font-weight: bold;
}

.noteJWT{
    display: inline-block;
    width: 300px;
    font-size: 15px;
    font-weight: 300px;
}

.note1{
    display: inline-block;
    width: 50px;
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: bold;
}

.noteJWT1{
    font-weight: 600;
}

.topic{
    font-weight:500px
}

.layout-container main {
    padding-left: 200px;
    padding-top: 40px;
}
.labeljws {
    word-wrap: break-word;
    width: 461px;
    background-color: aliceblue;
    padding: 30px;
}
.btnicon {
    font-family: sans-serif;
    color: blue;
}
#copyjws {
    word-wrap: break-word;
    width: 373px;
}
#copyjwt {
    word-wrap: break-word;
    width: 373px;
}
.infoTitle {
    margin: 10px;
    font-weight: 700;
    font-size: medium;
    font-family: sans-serif;
}
.ref {
    margin-top: 30px;
    margin-left: 25px;
    font-weight: 500px;
    font-size: medium;
    font-family: sans-serif;
}
.aside img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: 200px;
}
.title{
    font-weight: 600;
} */

.btn-primary {background: #F26D21 !important;border-color: #F26D21 !important;}
.btn-primary:hover {
    background: #f69963 !important;
    border-color: transparent !important;
}
.btn-blue {background: #89CFF0 !important;border-color: #89CFF0 !important;}
.word-wrap {word-wrap: break-word;}
.bg-light-blue {background-color: aliceblue;}
